<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
   
   <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{yyyy.MM.dd-HH:mm:ss} %5p %c{1}:%L - %m%n"/>
      </layout>
   </appender>
   <appender name="fileout" class="org.apache.log4j.DailyRollingFileAppender">
      <param name="File" value="${logPath}/processXYZ.log"/>
      <param name="DatePattern" value="'.'yyy-MM-dd"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{yyyy.MM.dd-HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
      </layout>
   </appender>
   <logger name="stdout" additivity="false">
      <level value="debug"/>
      <appender-ref ref="stdout"/>
   </logger>
   <logger name="processXYZ" additivity="false">
      <level value="info"/>
      <appender-ref ref="fileout"/>
   </logger>
   
</log4j:configuration>